/.idea
/.vs
/CMakeCache.txt
/CMakeFiles/
/Debug/
/particle_test.dir/
/particles.dir/
/x64/
/*.vcxproj*
/CTestTestfile.cmake
/Release/
/*.sln
/*.cmake
/profanity_cuda.dir
/*.tcl
/output/
/ver.txt
/build_debug_win_and_run.bat
/runtime/build-and-test.bat
/runtime/*.gvmi
/runtime/*.descr.bin
/docker/gvmkit-build.exe
/runtime/profanity_cuda
/docker/profanity_cuda-12.2.1
Dockerfile_runtime_slim*
gvmkit-build.exe